

{% extends "AppBlog/padre.html" %}
    

{% block contenidoModificable %}
    <h1>publicacion</h1>
{% endblock %}

{% block contenidoAvatar %}



{% endblock %}

{% block contenido2 %}



    
    <a href="{% url 'New' %}">Agregar publicacion</a>

    <ul>

        {% for publi in object_list %} 

        <li>

            <p>Nombre: {{publi.nombre}}</p>

            <p>

                <a href="{% url 'Publicacion' %}">Ver</a>




            </p>


        </li>

        {% endfor %}


    </ul>

{% endblock %}